In [1]:
import pandas as pd
import numpy as np

from tensorflow import keras
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Dense, Embedding, Flatten

2022-06-10 16:54:51.231446: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-06-10 16:54:51.231485: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [2]:
games_season = pd.read_csv('inputs/games_season.csv')
games_tourney = pd.read_csv('inputs/games_tourney.csv')
games_season.head()

   season  team_1  team_2  home  score_diff  score_1  score_2  won
0    1985    3745    6664     0          17       81       64    1
1    1985     126    7493     1           7       77       70    1
2    1985     288    3593     1           7       63       56    1
3    1985    1846    9881     1          16       70       54    1
4    1985    2675   10298     1          12       86       74    1

## Defining 2 inputs.

In [3]:
#Input layer for team 1.
team_in_1 = Input(shape = (1, ), name = 'Team-1-In')

#Separate input layer for team 2.
team_in_2 = Input(shape = (1, ), name = 'Team-2-In')