## Load libraries.

In [1]:
import pandas as pd
import numpy as np

from tensorflow import keras
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Dense

2022-06-10 16:30:18.184294: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-06-10 16:30:18.184395: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [5]:
games_season = pd.read_csv('inputs/games_season.csv')
games_tourney = pd.read_csv('inputs/games_tourney.csv')
games_season.head()

   season  team_1  team_2  home  score_diff  score_1  score_2  won
0    1985    3745    6664     0          17       81       64    1
1    1985     126    7493     1           7       77       70    1
2    1985     288    3593     1           7       63       56    1
3    1985    1846    9881     1          16       70       54    1
4    1985    2675   10298     1          12       86       74    1

In [6]:
games_tourney.head()

   season  team_1  team_2  home  seed_diff  score_diff  score_1  score_2  won
0    1985     288      73     0         -3          -9       41       50    0
1    1985    5929      73     0          4           6       61       55    1
2    1985    9884      73     0          5          -4       59       63    0
3    1985      73     288     0          3           9       50       41    1
4    1985    3920     410     0          1          -9       54       63    0

### Define input and output layers for the model.

In [8]:
input_tensor = Input(shape = (1, ))
output_layer = Dense(1)

output_tensor = output_layer(input_tensor)
print(output_tensor)

KerasTensor(type_spec=TensorSpec(shape=(None, 1), dtype=tf.float32, name=None), name='dense_1/BiasAdd:0', description="created by layer 'dense_1'")

### 2. Define the Keras model.

In [9]:
model = Model(input_tensor, output_tensor)
model.compile(optimizer = 'adam', 
             loss = 'mae')

model.summary()

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_2 (InputLayer)        [(None, 1)]               0

 dense_1 (Dense)             (None, 1)                 2

=================================================================
Total params: 2
Trainable params: 2
Non-trainable params: 0
_________________________________________________________________

#### Basketball dataset inputs.
- Seed difference (-15 to 15)
- Seed range (1 to 16)
- Highest difference
- Lowest difference

#### Basketball dataset output.
- Score difference (-50 to 50)

In [10]:
model.fit(games_tourney['seed_diff'], games_tourney['score_diff'],
         batch_size = 64, validation_split = 0.20, verbose = True)

53/53 [==============================] - 2s 10ms/step - loss: 20.0539 - val_loss: 18.7231

In [13]:
model.evaluate(games_tourney['seed_diff'], games_tourney['score_diff'])

133/133 [==============================] - 0s 2ms/step - loss: 19.6683

19.668258666992188